html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.container {
  text-align: center;
  padding: 20px;
}

.card {
  border-width: 3px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 180px;
  object-fit: cover;
}
