a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color: #f7a436;
  text-align: center;
  padding: 20px 0;
}

.header-logo {
  max-width: 300px;
}

.custom-navbar {
  background-color: #f7a436;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.content-section {
  text-align: center;
  padding: 40px 20px;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-section p {
  font-size: 1rem;
  color: #555;
}


.footer {
  background-color: #f7d9a9;
  text-align: center;
  padding: 20px 0;
  color: #333;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
