  .banner-image {
    width: 100%;
    height: auto;
  }
  a{
    color: #f7a436;
  }

  .breadcrumb-container {
    color: #555;
    font-size: 14px;
  }

  .students-detail .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }



  
  
  